.hero-section {
  max-width: 100%;
  height: 432px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg-hero@2x.jpg);
  }
}



/* =====Tablet=====*/
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg-hero@2x.jpg);
  }





/* =====Desctop=====*/
@media screen and (min-width: 1158px) {
  .hero-section {
    height: 100%;
    width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-bg-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-bg-hero@2x.jpg);
  }